body {
    background-image: url("https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?cs=srgb&dl=pexels-daniel-reche-3721941.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  